<div class="darkbg">
  <div class="container">
    <div class="mx-auto">
      <h1 class="text-center py-5">
        About
      </h1>
        <ul class="pb-5 mx-auto">
          <li><div>Age</div> <div>20</div></li>
          <hr>
          <li><div>Birth Date</div><div>03/20/2001</div></li>
          <hr>
          <li><div>School</div><div>Texas A&M University</div></li>
          <hr>
          <li><div>Major</div><div>Computer Science</div></li>
          <hr>
          <li><div>Minors</div><div>Math, Cybersecurity & Game Development</div></li>
          <hr>
          <li><div>GPA</div><div>3.57</div></li>
          <hr>
          <li><div>Email</div><div>dylanharden3@tamu.edu</div></li>
          <hr>
          <li><div>Interests</div><div>Front End Developement, ML/AI</div></li>
          <hr>
          <li><div>Hobbies</div><div>Ultra Distance Racing, Triathlon</div></li>
        </ul>
    </div>
  </div>
</div>
