.darkbg {
  background-color: #000;
  border-bottom: 8px solid #222222;
}

.redbg {
  background-color: #E50914;
}

a {
  color: #fff;
}

a:hover {
  text-decoration: none;
  color: #fff;
}

img {
  width: 20vw;
  min-width:  200px;
  box-shadow: 0 0 10px #7f7f7f ;
}

.carousel-caption {
  height: 100%;
}

.shadow {
  background-color: rgba(0,0,0,0.2);
}

#github-icon {
  width: 20px;
  min-width: 30px;
  box-shadow: none;
}

@media screen and (max-width:767px) {
  *{
    text-align: center;
  }
  .container {
    padding-top: 20px;
  }

}
