<div class="darkbg">
  <div class="container">
    <hr class="mb-5">
    <h1 class="text-center  pb-5">Skills</h1>
    <div class="row">
      <div class="col-md">
        <img src="assets/images/tesla/interior2.jpg" alt="">
      </div>
      <div class="col-md">
        <div class="txt">
          <h4>Web Development</h4>
        <p>Skilled in front end basics with experience using JavaScript/TypeScript and Angular. Knowledge of back end technologies such as Nodejs/Express and PostgreSQL. Comfortable with http requests and JSON.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md">
        <div class="txt">
          <h4>Programming Languages</h4>
          <p>Familiar with object oriented principle as well as data structures and algorithms. Experience in C++, Python, Java, and C#.</p>
        </div>
      </div>
      <div class="col-md">
        <img src="assets/images/tesla/autographic.jpg" alt="">
      </div>
    </div>
    <div class="row">
      <div class="col-md">
        <img src="assets/images/tesla/view3.jpg" alt="">
      </div>
      <div class="col-md">
        <div class="txt">
          <h4>General Skills</h4>
          <p>Comfortable displaying leadership and teamwork qualities in both agile and waterfall environments. Hard working and enthusiastic to learn more.</p>
        </div>
      </div>
    </div>
  </div>
</div>
