<!-- Contact Google Section -->
<div class="bg-red">

  <div class="container pb-5">

    <div id="contact" class="text-center w-100">

      <h1 class="py-5">Get in touch with me.</h1>

      <div class="row justify-content-around">

        <div class="col-sm-3">

          <img src="assets/images/google/email.png" width="50px" alt="">
          <h3 class="py-3">Email</h3>
          <p class="link">Dylanharden3@tamu.edu</p>

        </div>

        <div class="col-sm-3">

          <img src="assets/images/google/linkedin.png" width="50px" alt="">
          <h3 class="py-3">LinkedIn</h3>
          <a href="https://www.linkedin.com/in/dylan-harden/" target="_blank">linkedin.com/in/dylan-harden</a>

        </div>

        <div class="col-sm-3">

          <img src="assets/images/google/phone.png" width="50px" alt="">
          <h3 class="py-3">Phone</h3>
          <p class="link">512-831-9441</p>

        </div>

      </div>

      <h6 class="py-5">Developed by Dylan Harden</h6>

    </div>

  </div>

</div>
