<!-- Contact-Netflix -->
<div class="darkbg" id="contact-netflix">

  <div class="container text-center d-flex justify-content-around align-items-center py-3">

    <div class="text-left">

      <h1>Contact.</h1>
      <p>Get in touch with me.</p>
      <p>DylanHarden3@tamu.edu</p>

    </div>

    <div>

      <a target="_blank" href="https://www.linkedin.com/in/dylan-harden/"><img src="assets/images/netflix/linkedin.png" alt=""></a>
      <a target="_blank" href="https://github.com/Dylan-Harden3"><img src="assets/images/netflix/github.png" alt=""></a>
      <a href="mailto:dylanharden3@tamu.edu"><img src="assets/images/netflix/email.png" alt=""></a>

    </div>

  </div>

</div>

<div class="darkbg text-center d-flex justify-content-center align-items-center">

  <h6 class="my-5">Developed by Dylan Harden</h6>

</div>
