<div class="pbg">
  <div class="container pt-5">
    <div id="projects">
      <h1 class="py-5">Some of my projects.</h1>
      <div class="row justify-content-around">
        <div class="col-sm-3 p-3">
          <img src="assets/images/google/logoAP.PNG" class="w-25 rounded" alt="">
          <h3>TravelEZ Travel App</h3>
          <hr>
          <p>HTML/CSS, JavaScript, Bootstrap, Nodejs, Express</p>
          <hr>
          <h6>Travel planning app which allows users to search hotels, flights, or general information by interacting with 5 existing APIs.</h6>
        </div>
        <div class="col-sm-3 p-3">
          <img src="assets/images/google/newwebsite.png" class="w-25 rounded" alt="">
          <h3>Personal Website Version 3.0</h3>
          <hr>
          <p>Angular, Bootstrap</p>
          <hr>
          <h6>Personal website with 5 different themes implemented in Angular.</h6>
        </div>
        <div class="col-sm-3 p-3">
          <img src="assets/images/google/database.png" class="w-25 rounded" alt="">
          <h3>Mock Media Database</h3>
          <hr>
          <p>Java, PostgreSQL</p>
          <hr>
          <h6>Display watch trends and customer data in a java swing GUI based on data pulled from a PostgreSQL database.</h6>
        </div>
      </div>
      <div class="row py-5 justify-content-around">
        <div class="col-sm-3 p-3">
          <img src="assets/images/google/connectfour.png" class="w-25 rounded" alt="">
          <h3>Connect Four Game</h3>
          <hr>
          <p>HTML/CSS, Bootstrap, JavaScript</p>
          <hr>
          <h6>Basic Connect Four using vanilla JavaScript.</h6>
        </div>
        <div class="col-sm-3 p-3">
          <img src="assets/images/google/todo.png" class="w-25 rounded" alt="">
          <h3>To-Do List</h3>
          <hr>
          <p>HTML/CSS, Bootstrap, JavaScript</p>
          <hr>
          <h6>To-Do List with adding, removing, and filtering functionality.</h6>
        </div>
        <div class="col-sm-3 p-3">
          <img src="assets/images/google/oldwebsite.png" class="w-25 rounded" alt="">
          <h3>Personal Website Version 2.0</h3>
          <hr>
          <p>HTML/CSS, Bootstrap</p>
          <hr>
          <h6>Previous Personal website to showcase basic skills in front end developement.</h6>
        </div>
      </div>
      <footer class="d-flex justify-content-center align-items-center">
        <img src="assets/images/google/github.png" width="30px" alt="" class="mx-2"> <p>Check out my GitHub: <a href="https://github.com/Dylan-Harden3" class="btn btn-sm btn-primary" target="_blank">Click Here</a></p>
      </footer>
    </div>
  </div>
</div>
