<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
<div id="netflixbg" class="section">
  <div class="effectbg">
    <div class="d-sm-flex justify-content-around align-items-center">
      <h1 class="title pl-4 pt-3">
        Dylan Harden
      </h1>
      <div id="theme-icons" class="d-flex justify-content-around align-items-center">
        <a routerLink="/"><img src="assets/images/themeIcons/google.png" alt=""></a>
        <img id="netflix" src="assets/images/themeIcons/netflix.png" alt="">
        <a routerLink="/search"><img src="assets/images/themeIcons/search.png" alt=""></a>
        <a routerLink="/amazon"><img src="assets/images/themeIcons/amazon.png" alt=""></a>
        <a routerLink="/tesla"><img src="assets/images/themeIcons/tesla.png" alt=""></a>
      </div>
      <div class="d-flex justify-content-around w-25" id="hero-links">
        <a href="#" id="to-about" class="nav-netflix py-1 px-2"> <img src="assets/images/netflix/resumeicon.png" width="20px" alt=""> Resume</a>
        <a href="/netflix/#contact-netflix" id="to-contact" class="nav-netflix py-1 px-2">Contact</a>
      </div>
    </div>
    <div class="hero flex-column d-flex justify-content-center align-items-center">
      <h1 class="py-5">Hello. I'm Dylan Harden.</h1>
      <h2 class="py-2">Aspiring Software Engineer. Texas A&M Aggie. Athlete.</h2>
      <h4 class="py-2">Want to learn more about me?</h4>
      <a href="/netflix/#about-netflix"><h2 class="btn btn-lg redbg">Explore</h2></a>
    </div>
  </div>
</div>
