#hero {
  background-image: url('img/bg2.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  }

  *{
    color: white;
  }

  #title{
    font-weight: 500;
    font-size: 50px;
  }

  #themes img {
    width: 40px;
    height: 40px;
    padding: 5px;
    border-radius: 50%;
    background-color: #e5e5e5;
  }

 #google {
    outline: 5px solid #b2b2b2;
  }

  #filler {
    height: 232px;
  }

  @media screen and (max-width:764.99px) {
    #heroImg {
      margin: 0 auto;
      height: 300px;
    }
  }
