<div id="hero">
  <div class="container">
    <div class="d-sm-flex align-items-center justify-content-around pt-5">
      <div class="d-flex flex-column text-center">
        <div>
          <h1 id="title">Hello. I'm Dylan Harden.</h1>
          <h6 id="headline" class="mt-3">Aspiring Software Engineer | Texas A&M Aggie | Athlete</h6>
        </div>
        <div>
          <p class="text-center mt-5">Themes</p>
          <div id="themes" class="d-flex justify-content-around align-items-center">
            <img id="google" src="assets/images/themeIcons/google.png" alt="">
            <a routerLink="/netflix"><img src="assets/images/themeIcons/netflix.png" alt=""></a>
            <img src="assets/images/themeIcons/tamu.png" alt="">
            <a routerLink="/tesla"><img src="assets/images/themeIcons/tesla.png" alt=""></a>
            <img src="assets/images/themeIcons/amazon.png" alt="">
          </div>
        </div>
      </div>
      <img id="heroImg" src="assets/images/heroImg.png" height="500vw" alt="image here">
    </div>
  </div>
  <div id="filler">
  </div>
</div>
