<!-- Background Wrapper -->
<div class="amazon-dark">

  <!-- Navbar -->
  <nav class="d-flex justify-content-between">

    <img src="assets/images/amazon/logo-small-final.png" alt="" class="navbar-logo ml-5">

    <div class="search-bar d-flex flex-row-reverse align-items-center">

      <img src="assets/images/search/searchIcon.png" alt="" class="search-icon">

    </div>

    <p>view my<br><b>resume</b></p>

    <div class="d-flex align-items-center mr-5">

      <img src="assets/images/amazon/cart.png" alt="" height="40px">
      <h6 class="ml-2">0</h6>

    </div>

  </nav>

  <!-- Themes -->
  <div class="themes my-2">

    <div class="container d-flex align-items-center justify-content-around">

      <p><u>Amazon</u></p>
      <p routerLink="">Google</p>
      <p routerLink="/netflix">Netflix</p>
      <p routerLink="/search">Search</p>
      <p routerLink="/tesla">Tesla</p>

    </div>

  </div>

  <!-- Hero -->
  <div class="container text-center">

    <img src="assets/images/amazon/logo-final.png" alt="" width="60%">

  </div>
<!-- Intro Grid -->
<div class="container">

  <div class="intro-grid">

<!-- About -->
    <div>

      <h4>About</h4>

      <div class="intro-grid-section">

          <div id="swe">
            <h6>Software Engineer</h6>
          </div>
          <div id="tamu">
            <h6>Texas A&M Aggie</h6>
          </div>
          <div id="athlete">
            <h6>Athlete</h6>
          </div>
          <div id="student">
            <h6>Lifelong Learner</h6>
          </div>

        </div>

    </div>

<!-- Skills -->
    <div>

      <h4>Skills</h4>

      <div class="intro-grid-section">

        <div id="webdev">
          <h6>Web Development</h6>
        </div>
        <div id="dsa">
          <h6>Data Structures</h6>
        </div>
        <div id="math">
          <h6>Mathematics</h6>
        </div>
        <div id="work">
          <h6>Work Ethic</h6>
        </div>

      </div>

    </div>

  <!-- Projects -->
    <div>

      <h4>Projects</h4>
      <div class="intro-grid-section link">

        <a href="https://github.com/Dylan-Harden3/TravelEZ" target="_blank">
          <div id="travelez">
            <h6>TravelEZ</h6>
          </div>
        </a>

        <a href="https://github.com/Dylan-Harden3/Portfolio-Website" target="_blank">
          <div id="website">
            <h6>Personal Website</h6>
          </div>
        </a>

        <a href="https://github.com/Dylan-Harden3/Connect-Four" target="_blank">
          <div id="connectfour">
            <h6>Connect Four</h6>
          </div>
        </a>

        <a href="https://github.com/Dylan-Harden3/to-do-List" target="_blank">
          <div id="todo">
            <h6>To Do List</h6>
          </div>
        </a>

      </div>

    </div>

  <!-- Contact -->
    <div>

      <h4>Contact</h4>
      <div class="intro-grid-section link">

        <a href="mailto: dylanharden3@tamu.edu">
          <div id="email">
            <h6>Email</h6>
          </div>
        </a>

        <a href="https://www.linkedin.com/in/dylan-harden/" target="_blank">
          <div id="linkedin">
            <h6>LinkedIn</h6>
          </div>
        </a>

        <a href="https://github.com/Dylan-Harden3" target="_blank">
          <div id="github">
            <h6>Github</h6>
          </div>
        </a>

        <div id="phone">
          <h6>Phone</h6>
        </div>

      </div>

    </div>

  </div>

</div>

<!-- Footer -->
<footer class="text-center py-5">

  <h5>Developed by Dylan Harden</h5>

</footer>

</div>
