.projects-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.project-popout {
  z-index: 50;
  background-color: rgba(255, 255, 255, 0.8);
  color: #333333;
  grid-column: 1 / 4;
}

.project-img {
  border: 2px solid black;
}

.project-img:hover {
  cursor: pointer;
  border: 2px solid red;
}

.selected {
  border: 2px solid red;
}

@media screen and (max-width:767px) {
  .project-img {
    width: 50px;
  }
}
