<!-- Skills-Netflix -->
<div class="section darkbg d-flex justify-content-around align-items-center">

  <div class="container d-sm-flex justify-content-around align-items-center">

    <div id="icons">

      <div class="col">

        <img src="assets/images/global/typescript.png" alt="">

      </div>

      <div class="col">

        <img src="assets/images/global/bootstrap.png" alt="">

      </div>

      <div class="col">

        <img src="assets/images/global/angular.png" alt="">

      </div>

      <div class="col">

        <img src="assets/images/global/node.png" alt="">

      </div>

      <div class="col">

        <img src="assets/images/global/cpp.png" alt="">

      </div>

      <div class="col">

        <img src="assets/images/global/python.png" alt="">

      </div>

      <div class="col">

        <img src="assets/images/global/java.png" alt="">

      </div>

      <div class="col">

        <img src="assets/images/global/csharp.png" alt="">

      </div>

      <div class="col">

        <img src="assets/images/global/html.png" alt="">

      </div>

      <div class="col">

        <img src="assets/images/global/css.png" alt="">

      </div>

      <div class="col">

        <img src="assets/images/global/git.png" alt="">

      </div>

      <div class="col">

        <img src="assets/images/global/postgresql.png" alt="">

      </div>

    </div>

    <div class="text-left sizer">

      <h1 class="my-3">Skills.</h1>

      <h3 class="my-1">Web Development</h3>
      <p>JavaScript/TypeScript, HTML/CSS, Bootstrap, Angular, Nodejs, Express, PostgreSQL.</p>

      <h3 class="my-1">Programming Languages</h3>
      <p>C++, Java, Python, C#.</p>

      <h3 class="my-1">Computer Science</h3>
      <p class="mb-3">OOP, Data Structures, Agile Methodologies, Version Control (Git/Github).</p>

    </div>

  </div>

</div>
