<!-- About-Google Section -->
<div class="bg-2">

  <div class="container" id="shifter">

    <div id="about" class="w-100 text-center">

      <h1 class="py-5">Some things about me.</h1>

      <div class="d-sm-flex justify-content-around">

        <!-- Software Engineer Card -->
        <div class="w-25 about-card">

          <img class="w-50 my-3" src="assets/images/google/coding.jpg" alt="">
          <h2>Software Engineer</h2>
          <p>Current Computer Science Junior, with fundamental knowledge of the Software Developement Process.</p>
          <h5 class="text-red">Some of my interests</h5>

          <div class="sub-text">

            <img src="assets/images/google/frontend.png" width="20px"alt=""><p class="ml-3">Front End Developement</p>
            <br>
            <img src="assets/images/google/aiml.png" width="20px" alt=""> <p class="ml-3">Machine Learning/AI</p>
            <br>
            <img src="assets/images/google/cyber.png" width="20px" alt=""> <p class="ml-3">Cybersecurity</p>

          </div>

        </div>

        <!-- Student Card -->
        <div class="w-25 about-card">

          <img src="assets/images/google/study.jpg" alt="" class="w-50 my-3">
          <h2>Lifelong Student</h2>
          <p>Pursuing a Bachelors of Science in Computer Science at Texas A&M University. Graduation: May 2023.</p>
          <h5 class="text-red">Other Academic Fascinations</h5>

          <div class="sub-text">

            <img src="assets/images/google/psych.png" width="20px"alt=""><p class="ml-3">Psychology</p>
            <br>
            <img src="assets/images/google/kin.png" width="20px" alt=""> <p class="ml-3">Kinesiology</p>
            <br>
            <img src="assets/images/google/aero.png" width="20px" alt=""> <p class="ml-3">Aerospace Engineering</p>

          </div>

        </div>

        <!-- Athlete Card -->
        <div class="w-25 about-card" id="athlete">

          <img src="assets/images/google/athlete.jpg" alt="" class="w-50 my-3">
          <h3>Athlete</h3>
          <p>In my free time I enjoy pushing myself both mentally and physically.</p>
          <h5 class="text-red">Favorite Athletic Endeavors</h5>

          <div class="sub-text">

            <img src="assets/images/google/basketball.png" width="20px"alt=""><p class="ml-3">Basketball</p>
            <br>
            <img src="assets/images/google/triathlon.png" width="20px" alt=""> <p class="ml-3">Triathlon</p>
            <br>
            <img src="assets/images/google/ultra.png" width="20px" alt=""> <p class="ml-3">Ultra Distance Racing</p>

          </div>

        </div>

      </div>

      <hr class="mx-5">
      <hr class="mx-5 mb-5">

      <!-- Skills Section -->
      <h1 id="skills">Some of my skills.</h1>

      <div class="skills-card">

        <div class="row">

          <div class="col">

            <img src="assets/images/global/html.png" width="40px" alt="">
            <img src="assets/images/global/css.png" width="40px" alt="">
            <img src="assets/images/global/bootstrap.png" width="40px" alt="">
            <img src="assets/images/global/typescript.png" width="40px" alt="">
            <img src="assets/images/google/javascript.png" width="40px" alt="">
            <img src="assets/images/global/node.png" width="40px" alt="">
            <img src="assets/images/global/angular.png" width="40px" alt="">
            <img src="assets/images/global/postgresql.png" width="40px" alt="">

          </div>

          <div class="text-left col">

            <h3>Web Technologies</h3>
            <p>Front end: HTML/CSS, Bootstrap, Angular.</p>
            <p>Back end: Nodejs, Express, PostgreSQL.</p>
            <p>General: REST api, Postman, JavaScript/TypeScript, JSON.</p>

          </div>

         </div>

       </div>

       <div class="skills-card">

         <div class="row">

           <div class="col">

             <img src="assets/images/global/cpp.png" width="40px" alt="">
             <img src="assets/images/global/python.png" width="40px" alt="">
              <img src="assets/images/global/java.png" width="40px" alt="">
              <img src="assets/images/global/csharp.png" width="40px" alt="">

            </div>

            <div class="text-left col">

              <h3>Programming Languages</h3>
              <p>General Purpose: C++, Java, Python, C#.</p>

            </div>

          </div>

        </div>

        <div class="skills-card">

          <div class="row" id="general">

            <div class="col">

              <img src="assets/images/google/hash.png" width="40px" alt="">
              <img src="assets/images/google/scrum.jpg" width="60px" alt="">
              <img src="assets/images/global/git.png" width="40px" alt="">

            </div>

            <div class="text-left col">

              <h3>General Knowledge</h3>
              <p>Methodologies: Waterfall, Agile/Scrum.</p>
              <p>Computer Science: OOP, Data Structures, Version Control (Git/GitHub).</p>
              <p>General: Work Ethic, Leadership.</p>

            </div>

          </div>

        </div>

        <footer class="d-flex justify-content-center align-items-center">

          <img src="assets/images/global/resume.png" width="30px" alt="" class="mx-2">
          <p>Check out my Resume: <a href="" class="btn btn-sm btn-primary">Click Here</a></p>

        </footer>

    </div>

  </div>

</div>
